{
  "launchscreen":{
    "debug": true
  },
  "OAuth": {
    "GitHub": {
      "ID": "..",
      "Secret": "..",
      "callbackURL": ".."
    }
  },
  "auth": {
    "JWT": {
      "secret": "12345"
    }
  }
}
