@import 'global';

body,
html {
  margin: 0;
  padding: 0;
  background: $background-color;
  color: $default-color;
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  min-width: 320px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $a-color;

  :hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  font-weight: normal;
  line-height: 1;
  margin: 40px 0;
  color: $h1-color;
  text-shadow: $h1-text-shadow;
}

h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  color: $h2-color;
}

h3 {
  font-size: 20px;
  color: $h3-color;
  margin-top: 15px;
}

.box {
  box-shadow: $box-shadow;
  // 0 1px 5px 0 rgba(0, 0, 0, .12), 0 0 5px 0 rgba(0, 0, 0, .14);
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  border-radius: 2px;
  overflow: hidden;
}

.ls-centered-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
